{% extends 'blog-clean/base.html' %}
{% load staticfiles %}
{% block body %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url({% static '/clean/img/post-bg.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">

                    </div>
                </div>
            </div>
        </div>
    </header>
    <article>
    <div class="container">
            <div class="row">
            <div id="bd" class="wrp clear-fix">
                <div id="main">
                    <div id="post-1951"
                         class="post-1951 post type-post status-publish format-standard hentry category-meida-report">
                        <div class="post-hd">
                            <h1 class="title">{{ article.title }}</h1>
                        </div>
                        <div class="date-read">
                            <i class="icon-date"></i><span
                                class="date">{{ article.last_modified_time}}</span>
                        </div>
                        <div class="post-bd">
                            {{ article.body |safe }}
                        </div>
                    </div>
                </div>
            </div>
            {% include 'blog-clean/comment.html' %}
    </div>
    </div>
    </article>
{% endblock %}