{% extends 'blog-clean/base.html' %}
{% load staticfiles %}
{% block body %}
     <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url({% static '/clean/img/home-bg.jpg'%})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Diego Thuran</h1>
                        <hr class="small">
                        <span class="subheading">DPPDI</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
<!-- Main Content -->
    <div class="container">
        <div class="row">
            {% load paginate_tags %}
            {% paginate article_list 2 %}
            {% for article in article_list %}
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-preview">
                    <a href="{% url 'blog:detail' article.pk %}">
                        <h2 class="post-title">
                            {{ article.title }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ article.abstract }}
                        </h3>
                    </a>
                    <p class="post-meta">Publicado em {{ article.created_time }}</p>
                </div>
                </div>
            {% endfor %}
            {% include 'blog-clean/pagination.html' %}

        </div>
    </div>
{% endblock %}